body{
    background:#f5f5f5;
}

.carousel-img{
    height:500px;
    object-fit:cover;
}

.card img{
    height:230px;
    object-fit:cover;
}

.card{
    transition:.3s;
    border:none;
}

.card:hover{
    transform:translateY(-8px);
}

h2{
    font-weight:bold;
}

footer{
    margin-top:60px;
}